/* CSS Document */

.card{border: none}

.section-subtitle{
	margin-bottom: 7px;
	padding-left: 7px;
	text-transform: uppercase;
	color: #aaaaaa;
	font-size: 70px;
	font-family: tahoma;
	border-left: 3px solid;
	line-height: 1;
}

.section-main-title{
	margin-bottom: 35px;
	font-size: 30px;
}

.about-box{
 box-shadow: 0 0 0 10px #000000 inset;
 margin-right: 0;
 margin-top: 0;
 position: relative;
 display: block;
}

.about-box img{
	width: 100%;
	transform: translateY(30px) translate(-30px);
}

.about-boxx{
 box-shadow: 0 0 0 10px #000000 inset;
 margin-right: 0;
 margin-top: 0;
 position: relative;
 display: block;
}

.about-boxx img{
	width: 100%;
	transform: translateY(30px) translate(30px);
}